body{
    font-family: 'Poppins',sans-serif;
}

html {
    scroll-behavior: smooth;
}
.hero {
   background: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8cmVzdGF1cmFudHxlbnwwfHx8fDE2OTU2MjI5NzY&ixlib=rb-4.0.3&q=80&w=1080') no-repeat center center;
   background-size: cover;
   background-attachment: fixed;
   color: #fff;
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
   text-align: center;

}

.menu-item img {
    height: 200px;
    object-fit: cover;
}

.card {
    transition: all 0.3s ease-in-out;
}
.card:hover {
    box-shadow: 8px 8px 20px #262626;
    transform: translateY(-5px) ;
}

